{% extends "base.html" %}
{% block content %}



<div class="section">
    <div class="row">
        <div class="card-profile ">
            <div class="profile card-image">
                <img src="/static/images/profile-img.jpg">
                <div class="profile-info">
                    <span class=" profile-name card-title light-blue-text text-darken-4">{{username}}'s Profile</span>
                    <p>Age:<span>45</span> years old</p>
                    <p>Diet:<span>Vegeterian</span></p>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}