<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    {% for recipe in recipes %}
        {{recipe.category_name }}<br>
        {{recipe.receipe_image_URL }}<br>
        {{recipe.recipe_unit }}<br>
        {{recipe.recipe_indgredients }}<br>
        {{recipe.recipe_method }}<br>
        {{recipe.recipe_time }}<br>
        {{recipe.recipe_serving }}<br>

    {% endfor %}
    
</body>
</html>