{% extends "base.html" %}
{% block content %}

<h1 class="align-center">Recipes</h1>


    <div class="row">
        {% for recipe in recipes %} 
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        {% if img in recipes %}
                            <img src="{{recipe.receipe_image_URL }}">
                        {% else %}
                            <img src="../static/images/myRecipeLogo.png">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <p>{{recipe.recipe_name }}</p>
                    </div>
                    <div class="card-details">
                        <p class="cook-time">Cook Time<span class="card-span">{{recipe.recipe_time }}</span></p>
                        <p class="servings">Serves<span class="card-span">{{recipe.recipe_serving }}</span></p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}   
            

